<!DOCTYPE html>
<html lang="en">
    {% include "partials/head.html" %}
  <body>
    <div class="container">
      <div class="ctrl-container">

        {% for foods in app_food.template_food %}
        <div class="box">
          <div class="image">
            <img class="img" src="{{foods.image.url}}" alt="" />
          </div>
          <div class="content-box">
            <div class="content-title">
              <h1 class="title">{{foods.name}}</h1>
            </div>

            <div class="content-utils">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
                minus, at repellat fugiat sunt porro ipsa numquam consectetur
                soluta quia, reiciendis nisi ullam impedit! Architecto.
              </p>
            </div>
            <div class="author">
              <a href="/">Lorem, ipsum dolor.</a>
            </div>
            <div class="tags">
              <sub>Lorem ipsum dolor sit amet consectetur.</sub>
            </div>
            <div class="content-final">
              <div class="datetime">25/12/2025 às 17:29:58</div>

              <div class="box-content-links">
                <a href="/">Category</a>
                <a href="/">Saiba Mais</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
       
      </div>
    </div>
  </body>
</html>
